/* Allmän formatering */

main {
    max-width: 800px;
    margin: auto;
}

body {
    background: #9b009f;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17 px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #e801ed;
    color: white;
}

.homepage_picture {
    height: 246.8px;
    width: 153.4px;
    border-radius: 50%;   
}

.homepage_picture_div {
    display: flex;
    justify-content: center;
}

/* Formatering av registreringsformuläret, sökformuläret och kommentarsformuläret */

form li {
    list-style-type: none;
    margin-top: 0;
    margin-right: 10px;
}

form ul {
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

form >div {  /* Påverkar bara div-ar direkt under en form. */
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

form label {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

form textarea{
    height: 100px;
}

.inputarea{
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 5px
}

#submit-button {
    margin-left: 0;
    text-transform: uppercase;
    padding: 10px;
    background: none;
    border: 3px solid white;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#search-button {
    margin-left: 0;
    text-transform: uppercase;
    padding: 10px;
    background: none;
    border: 3px solid white;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.checkboxes {
    margin: 0;
}

.checkboxes label{
    width: initial;
}

.contact {
    margin-top: 50px;
}

/* Formatering för varje Objekt */

.profile-block {
    background: #e801ed;
    padding: 30px;
    background-clip: padding-box;
    margin: 30px;
    border-radius: 50px;
    list-style-type: none;
}

#messages-list {
    list-style-type: none;
    padding-left: 0;
}

.row {
    display: flex;
    align-items: center;
}

.column {
    width: 460px;
}

.ml {
    margin-left: 5px;
    flex-shrink: 0;
}

.profile-name {
    flex-shrink: 0;
}

.space-between {
    justify-content: space-between;
}

.likes {
    margin-left: 150px;
    display: flex;
}

.likes-icon {
    width: 50px;
    height: 50px;
}

.like {
    cursor: pointer;
    margin-left: 30px;
    display: flex
}

.like-icon {
    width: 32px;
    height: 32px;
}

.like-text {
    align-items: center;
    display: flex;
}

.profile-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.checkboxheader {
    margin-bottom: 5px;
}

.checkboxheader_time {
    margin-top: 40px;
}

.checkbox-list{
    list-style-type: disc;
    padding-left: 80px;  
}

#comment-form {
    padding-left: 0;
}

#comment-form li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#comment-form label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.comment-inputarea{
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 5px
}

#comment-form textarea{
    height: 100px;
}


.submit-comment {
    margin-left: 0;
    text-transform: uppercase;
    padding: 10px;
    background: none;
    border: 3px solid white;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.comment-text-output{
    margin-bottom: 10px;
}

.comment-name-output{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.comment-date-output{
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.hide {
    display: none;
}

.link {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}